@import '@sass/colors';

.loading {
    width: 100%;
    max-width: 1140px;
    padding: 96px;
    margin: 0 auto;
    &__contentWrapper {
        background-color: $white;
        display: flex;
        justify-content: center;
    }

    &__figure {
        //width: 50%;
    }

    &__progressInfo {
        padding: 48px 56px;
        //width: 50%;
    }

    &__loader {
        width: 48px;
        height: 48px;
        border: 5px solid $gray;
        border-bottom-color: $teal500;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 
}



